.homepage-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.welcome-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.welcome-section {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    width: 80%;
    margin: 15px 15px 0 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sheep-head {
    max-width: 400px;
}

.grass {
    max-height: 200px;
}

.images-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.menu-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.menu-button-container > form > button {
    width: 200px;
    height: 60px;
    background: rgb(42, 41, 41);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-button-container > form > button:hover {
    background: rgb(222, 163, 12);
}

@media (max-width: 1120px) {
    .homepage-content {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
    }

    .welcome-wrapper {
        width: 100%;
    }

    .grass {
        display: none;
    }
}

@media (max-width: 660px) {
    .img-content > img {
        width: 80%;
    }
}